@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
.d-flex{
   margin-left: 600px;
}

header{
   background-position: right center;
    background-image: url(images/shot-final.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.background{
       padding-top: 80px;
}
.btn-search{
   color: white;
    /*background: #eb7374;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f07574+1,b25f70+100 */
background: #f07574; /* Old browsers */
background: -moz-linear-gradient(top,  #f07574 1%, #b25f70 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f07574 1%,#b25f70 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f07574 1%,#b25f70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07574', endColorstr='#b25f70',GradientType=0 ); /* IE6-9 */

}
.btn-search:hover{
   color: white;
   background: #635d94;
}

.banner-content{}
.banner-content h1{
   color: #3c3768;
   font-size: 50px;
       margin-bottom: 10px;
}
.banner-content h6{
   color: #455a64;
   margin-bottom: 28px;
}
.banner-content p{
   color: #455a64;
   font-size: 18px;
   margin-bottom: 40px;
}
.inline-form{
}
.form-editor{
    border: none;
    box-shadow: 0 30px 60px 0 #fa78755c;
    width: 190px;
    height: 45px;
 }
 .btn-form{
   height: 45px;
   box-shadow: 0 30px 60px 0 #fa78755c;
    color: white;
    /*background: #eb7374;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f07574+1,b25f70+100 */
background: #f07574; /* Old browsers */
background: -moz-linear-gradient(top,  #f07574 1%, #b25f70 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f07574 1%,#b25f70 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f07574 1%,#b25f70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07574', endColorstr='#b25f70',GradientType=0 ); /* IE6-9 */
}
.btn-form:hover{
   color: white;
   background: #635d94;
}
.section1{}
.section1 img{
   width: 500px;
}


.service1{
   width: 425px;
   text-align: justify;
   line-height: 30px;
   box-shadow: 0 30px 60px 0 #fa78753b;
   padding: 48px;
}
.service2{
  width: 425px;
   text-align: justify;
   line-height: 30px;
   padding-top: 121px;
   box-shadow: 0 30px 60px 0 #fa78753b;
    padding: 48px;
}
.service3{
   width: 425px;
   text-align: justify;
   line-height: 30px;
   box-shadow: 0 30px 60px 0 #fa78753b;
    padding: 48px;
}
.service a{}
.service span{}
.service span img{}
.section1{}
.section2{}
.section2 img{
    width: 500px;
}
.section3{}
.section3 img{
    width: 500px;
}
.service-section h2{
   font-size: 35px;
    color: #3c3768;
}
.service-section p{
   padding-top: 40px;
    font-size: 13px;
    color: #455a64;
}
.service-section a{
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fa7976;
    font-weight: 700;
}
.service-section span{}
.spacing{
   padding-top: 120px;
   padding-bottom: 120px;
}
.sign-up-section{
   background-image: url(images/shot-final-5.png);
   padding: 68px 110px;
   background-repeat: no-repeat;

}
.sign-up-section h3{
   font-size: 50px;
   color: white;
}
.sign-up-section p{
       font-size: 20px;
    color: white;
    margin-top: 19px;
}
.sign-up-section .inline-form{
   margin-left: 70px; 
   margin-top: 60px;
}
.footer-section{
   padding-top: 100px;
}
.zenwork img{
   margin-bottom: 40px;
}
.zenwork{}
.zenwork p{
   color: #455a64;
   padding-bottom: 80px;
}
.zenwork strong{
   font-weight: 400;
}
.about{
   margin-left: 100px;
}
.about h2{
   color: #fa7875;
    font-size: 20px;
    margin-bottom: 17px;
}
.about ul li{
   color: #455a64;
    line-height: 27px;
}
.about ul li:hover{
   color: #fa7875;
   font-weight: 700;
}









.logo img{
   width: 40px;
   margin-right: 6px;
   margin-right: 6px;
}